/*
	the basic coloring of the components and imagery
*/
body{
	background-color:lightgreen;
}
fieldset{
	background-color:green;
}
fieldset div{
	background-color:lightgreen;
}
.progressBar{
	background-color:lightgreen;
	background-repeat:repeat-x;
	background-image:url('progress_gray.gif');
}
.resting{
	background-image:url('progress.gif');
}
.working{
	background-image:url('progress_anm.gif');
}
.progressMessage{
	background-color:transparent;
}
.button:hover{
	background-color:green;
}
.button{
	background-color:darkgreen;
}
