/*
	the basic layout and dimentions 
*/
fieldset{
}
fieldset div{
}
fieldset div div{
	padding:10pt;
	display:table-cell;
}

.progressBar{
	padding:10pt;
	width:400pt;
	border-width:1pt;
	border-style:solid;
	display:block;
}
.progressBar .progress{
	padding:10pt;
	display:block;
}
.progressMessage{
	text-align:center;
	display:block;
}
