/*
	the basic coloring of the components and imagery
*/
body{
	background-color:lightgreen;
}
fieldset{
	background-color:green;
}
fieldset div{
	background-color:lightgreen;
}
.{
	background-color:lightblue;
}
.progressBar .progress{
	background-color:blue;
}
.progressMessage{
	background-color:transparent;
}
