/*
	the basic layout and dimentions 
*/
fieldset{
}
fieldset div{
	display:block;
}
fieldset div div{
	padding:10pt;
	display:table-cell;
}

.progressBar{
	padding:0pt;
	border-width:1pt;
	border-style:solid;
	display:block;

	background-position:center;
	
}
.progressBar .progress{
	outline-width:2pt;
	outline-style:solid;
	display:block;
	height: 20px;
	padding:0pt;
	display:block;
}
.progressMessage{
	height:20pt;
	padding:0pt;
	margin:2.5pt;
	position:absolute;
	text-align:center;
	display:block;
}
.H_menu{
	margin:0;
	padding:10pt;
}
.button{
	display: table-cell;
	border-width:3pt;
	border-style:solid;
	padding:7pt;
	margin: 0;
}
