li[data-type=text],li[data-type=audio]{
	display:none;
}
body{
	//background-color:rgb(177,255,43);
}
td{
	background-color:#9999FF;
	padding:0px;
	margin:0px;
	border:0;
}
td[data-state="off"]{
	background-image: url('Images/on.png');
}
td[data-state="on"]{
	background-image: url('Images/play.png');
}
td[data-state="playing"]{
	background-image: url('Images/pause.png');
}
#keySet{
	border-collapse:collapse;
}
table{
	//border-collapse:collapse;
	//background-color:#9999FF;
}
#status div,#help div{
	margin: 0.5em;
	padding: 0.5em;
	border:solid 1px;
}
#left{
	background-image: url('Images/left.png');
	height:100px;
	width:100px;
}
#right{
	background-image: url('Images/right.png');
	height:100px;
	width:100px;
}
#up{
	background-image: url('Images/up.png');
	height:100px;
	width:100px;
}
#down{
	background-image: url('Images/down.png');
	height:100px;
	width:100px;
}
#down:active, #up:active, #left:active, #right:active, td[data-state]:active{
	background-image: url('Images/Square_inverse.png');
}
