li[data-type=text],li[data-type=audio]{
	display:none;
}
td{background-color:#9999FF;}
td[data-state="off"]{
	background-image: url('Images/on.png');
}
td[data-state="on"]{
	background-image: url('Images/play.png');
}
td[data-state="playing"]{
	background-image: url('Images/pause.png');
}
#status div{
	margin: 0.5em;
	padding: 1em;
	border:solid 1px;
}
#left{
	background-image: url('Images/left.png');
	height:100px;
	width:100px;
}
#right{
	background-image: url('Images/right.png');
	height:100px;
	width:100px;
}
#up{
	background-image: url('Images/up.png');
	height:100px;
	width:100px;
}
#down{
	background-image: url('Images/down.png');
	height:100px;
	width:100px;
}
#down:active, #up:active, #left:active, #right:active, td[data-state]:active{
	background-image: url('Images/Square_inverse.png');
}
